.tasks {
    flex: 1 1 auto;
    display: flex;
}

.tasks ul {
    margin-left: 0;
    padding-left: 0;
}

.tasksSpan {
    margin: 0 auto;
    padding: 5px;
    width: 75%;
    text-align: center;
    justify-self: center;
    align-self: center;
    color: #ff3636;
    border: 1px solid #ff3636;
}